[submodule "ThirdParty/rapidjson"]
	path = ThirdParty/rapidjson
	url = ../../Tencent/rapidjson.git
[submodule "ThirdParty/DirectXMath"]
	path = ThirdParty/DirectXMath
	url = ../../microsoft/DirectXMath.git
	branch = main
